<%- include('layout/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-secondary">
                    <h3 class="text-light">Add New User</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/new" method="POST" id="add-form">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg"
                             placeholder="Enter name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg"
                             placeholder="Enter email" required/>
                        </div>
                        <div class="mb-3">
                            <label for="mobile">Mobile</label>
                            <input type="number" name="mobile" class="form-control form-control-lg"
                             placeholder="Enter mobile number" required/>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control form-control-lg"
                             placeholder="Enter address" required/>
                        </div>
                        <div class="mb-3">
                            <label for="salary">Salary</label>
                            <input type="number" name="salary" class="form-control form-control-lg"
                             placeholder="Enter salary" required/>
                        </div>
                        <div class="mb-3">
                            <label for="spouse">Spouse</label>
                            <input type="text" name="spouse" class="form-control form-control-lg"
                             placeholder="Enter spouse name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="achievements">Achievements</label>
                            <input type="text" name="achievements" class="form-control form-control-lg"
                             placeholder="Enter achievements" required/>
                        </div>
                        <div class="mb-3">
                            <label for="bio">Bio</label>
                            <textarea type="text" name="bio" class="form-control form-control-lg"
                             placeholder="Enter brief bio" required>
                            </textarea>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Add User" class="btn btn-primary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer.ejs') %> 
